@import "../../styles/colors.module";

.wrapper {
	// border: 1px solid #717171;
	background: $bgAlt;
	color: $textGrey;
	font-family: 'main400';
	font-size: 20px;
	line-height: 20px;
	padding: 65px 0px;
	.container {

		.logotype {
			// border: 1px solid red;
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			.logo {
				font-family: 'main500';
				font-size: 40px;
				line-height: 40px;
				@media (max-width: 899px) {
					margin-bottom: 60px;
				}
			}
			.copyrightDesktop {
				display: block;
				@media (max-width: 899px) {
					display: none;
				}
			}
		}


		.documents {
			// border: 1px solid red;
			@media (max-width: 899px) {
				margin-bottom: 45px;
			}
		}


		.contacts {
			.social {
				display: flex;
				padding-top: 40px;
				@media (max-width: 899px) {
					padding-top: 0px;
				}

			}
		}

		.alink {
			// border: 1px solid red;
			display: inline-block;
			transition: .35s;
			&:hover {
				color: $textAcc
			}
		}


		// a {
		// 	display: flex;
		// 	justify-content: center;
		// 	align-items: center;
		// 	flex-grow: 1;
		// }
		
		.ul {
			list-style: none;
			padding: 0;
			margin: 0;
			.li {
				color: $textGrey;
				padding: 0 0 20px 0;
				&.liSelect {
					color: $textAcc;
				}
			}
		}


		.copyrightMobile {
			display: none;
			@media (max-width: 899px) {
				display: block;
				margin-top: 60px;
			}
		}

	}
}



