@import "../../../styles/colors.module";

.wrapper {
	border-bottom: 1px solid #000000;
	.textField {
		width: 100%;
		// background: $elemAcc;
		// border: 2px solid #FFFFFF;
		// border-radius: 25px;
		// color: $textAlt;
		// font-family: 'main400';
		// font-size: 25px;
		// line-height: 25px;
	}
	.input {
		border: 0;
		font-family: 'main500';
		font-size: 20px;
		line-height: 20px;
		padding: 18px;
		outline: none;
		width: 100%;
		:active, :hover, :focus {
			outline: 0;
			outline-offset: 0;
		}
	}
}