@import "../../../styles/colors.module";


	.popupLayer {
		display: none;
		// position: fixed;
		position: absolute;
		top: 0;
		left: 0;
		background: $bgAlt;
		min-height: 100vh;
		min-width: 100%;
		z-index: 0;
		user-select: none;
		font-family: 'main500';
		opacity: .98;
		// .closeWrap {
		// 	border: 1px solid red;
		// 	top: 33px;
		// 	right: 15px;
		// 	position: absolute;
		// }	
		&.popupLayerActive {
			// border: 1px solid red;

			display: flex;
			align-items: center;
			justify-content: center;
			flex-direction: column;
			font-size: 24px;
			color: $textMain;
			.a {
				// display: block;
				// width: 100%;
				color: $textAlt;
			}
		}

		.menuItem {
			margin: 10px 0;
		}

		.hr {
			// border-bottom: 1px solid $elemAcc;
			// flex: 1;
			margin: 15px;
			// padding: 0 35px;
			// width: 100%;
			opacity: .65;
		}
	}
	//POPUP LAYER - END
