@import "../../styles/colors.module";

.wrapper {
	/* border: 2px solid red; */
	font-size: 20px;
	font-family: 'main400';
	.container {
		// border: 1px solid red;
		padding: 90px 15px;
	
		display: flex;
		flex-direction: column;
		align-items: center;

		.titleWrapper {
			// border: 3px solid rgb(8, 116, 51);
			display: flex;
			flex: 0;
			padding-bottom: 30px;
			.title {
				// border: 1px solid rgb(33, 8, 116);
				font-family: 'main500';
				font-size: 40px;
				line-height: 40px;
				position: relative;
				padding: 45px 95px 0 0;
				&::after {
					content: '';
					position: absolute;
					top: 0px;
					right: 0px;
					height: 75px;
					width: 75px;
					background-image: url('./assets/zigzag.svg');
					background-repeat: no-repeat;
					background-size: 75px;
				}
			}
		} //.titleWrapper



		.logo {
			font-family: 'main700';
			font-size: 60px;
			line-height: 60px;
			letter-spacing: 0.03em;
			@media (max-width: 768px) {
				font-size: 55px;
				line-height: 55px;
			}
		} //.logo

		.formWrapper {
			position: relative;
			.attachedBox {
				display: flex;
				align-items: center;
				padding-bottom: 20px;
			}
			.notificationWrapper {
				position: absolute;
				// border: 1px solid red;
				background-color: rgba($bgLht, .95);

				display: flex;
				flex-direction: column;
				justify-content: center;
				height: 100%;
				width: 100%;

				font-size: 22px;
				line-height: 36px;
				font-family: "main400";
			}
		} //.formWrapper

	} //.container
} //.wrapper








