@import "../../styles/colors.module";

.wrapper {
	// border: 1px solid red;
	padding: 60px 0 120px 0;
	background: $bgAlt;
	user-select: none;
	@media (max-width: 768px) {
		padding: 75px 0 75px 0;

	}
	.titleBox {
		margin-bottom: 120px;
		@media (max-width: 768px) {
			margin-bottom: 75px;
		}
	}

	.slidewrapper {
		// border: 1px solid red;
		display: flex;
		justify-content: center;
		align-items: center;
		height: 100px;
		max-width: 100%;
		width: 100%;
		.img {
			// border: 1px solid red;
			object-fit: contain;
			max-width: inherit;
			height: 80px;
		}
	}
	
	// .btnNext {
	// 	border: 1px solid red;
	// 	height: 65px;
	// 	width: 65px;
	// 	background-image: url('./assets/arrow-right.svg');
	// 	background-repeat: no-repeat;
	// 	// background-position: 0 0;
	// 	background-size: contain;
	// 	transform: rotate(90deg);
	// 	opacity: .75;
	// }
}
