@import "../../../styles/colors.module";

.wrapper button {
	background: $elemAcc;
	border: 2px solid #FFFFFF;
	border-radius: 25px;
	color: $textAlt;
	font-family: 'main400';
	font-size: 26px;
	line-height: 26px;
	min-width: 250px;
	padding: 10px 45px;
	cursor: pointer;
	&.alt {
		background: transparent;
		border: 2px solid $elemAcc;
		color: $textAcc;
		font-size: 15px;
		line-height: 15px;
		font-family: 'main500';
	}
	&:disabled {
		background: $bgAcc !important;
		border: 2px solid $bgAcc;
		filter: grayscale(1);
		cursor: default;
	}
}