@import "../../../styles/colors.module";

.wrapper button {
	background: $elemAcc;
	border: 2px solid #FFFFFF;
	border-radius: 25px;
	color: $textAlt;
	font-family: 'main400';
	font-size: 25px;
	line-height: 25px;
	min-width: 250px;
	padding: 15px 45px;
	&.alt {
		background: transparent;
		border: 2px solid $elemAcc;
		color: $textAcc;
		font-size: 15px;
		line-height: 15px;
		font-family: 'main500';
	}
}