// акцентный цвет для элементов и текста
$elemAcc: #9A33FE;


$textMain: #000;
$textAcc: #9A33FE;
$textAlt: #fff;
$textGrey: #acacac;

// фоновые цвета
$bgAcc: #d0d3d8;
$bgAlt: #f5f5f5;
$bgLht: #ffffff;


