@import "../../styles/colors.module";

.wrapper {
	// border: 1px solid red;
	margin: 120px 0 105px 0;
	@media (max-width: 768px) {
		margin: 90px 0 75px 0;
	}

	.icons {
		margin-bottom: 70px;
		@media (max-width: 768px) {
			margin-bottom: 48px;
		}
		.icon {
			height: 100px;
			width: 100px;
			margin-right: 12px !important;
		}
	}
	.title {
		// border: 1px solid red;
		position: relative;
		font-family: 'main700';
		font-weight: 700;
		font-size: 80px;
		line-height: 80px;
		letter-spacing: 0.03em;
		margin-bottom: 54px;
		@media (max-width: 768px) {
			font-size: 55px;
			line-height: 55px;
			margin-bottom: 24px;
		}
		.titleSpan{
			// border: 1px solid red;
			position: relative;
			&::after {
				// border: 1px solid red;
				content: '';
				position: absolute;
				top: -30px;
				right: -60px;
				height: 60px;
				width: 60px;
				background-image: url('./assets/zigzag.png');
				background-repeat: no-repeat;
				background-size: 75px;
				background-size: contain;
				@media (max-width: 998px) {
					display: none;
				}
			}
		}
	}
	.subtitle {
		font-family: 'main500';
		font-weight: 500;
		font-size: 25px;
		line-height: 25px;
		letter-spacing: 0.03em;
		margin-bottom: 24px;
	}
	.text {
		font-family: 'main400';
		font-weight: 400;
		font-size: 20px;
		line-height: 20px;
		letter-spacing: 0.03em;
		margin-bottom: 90px;
		@media (max-width: 768px) {
			margin-bottom: 60px;
		}
	}

	.banner {
		display: flex;
		justify-content: center;
		align-items: center;
		.bg	{
			width: 100%;
		}
	}

	.buttonWrapper {
		display: flex;
		margin-bottom: 36px;
		@media (max-width: 768px) {
			// background-size: 90px;
			justify-content: center;
		}
	}
}