@import "../../styles/colors.module";

.wrapper {
	position: relative;
	// border: 1px solid $textGrey;
	padding: 45px 0 0 0;
	z-index: 1;
	.desktopMenu {
		display: flex;
		justify-content: flex-end;
		align-items: center;
		@media (max-width: 768px) {
			display: none;
			// background-size: 90px;
		}
	}
	.mobileMenu {
		position: relative;
		border: 1px solid $textGrey;
		display: flex;
		// justify-content: flex-end;
		align-items: flex-end;
		// flex-wrap: nowrap;
		flex-direction: column;
		@media (min-width: 768px) {
			display: none;
		}
		.mobileMenuButton {
			z-index: 99;
		}
		.mobilePopupWrap {
			z-index: 98;
			// position: relative;
		}
	}
}
